---
import ProjectCard from "../components/ProjectCard.astro";
import Container from "../components/ui/Container.astro";
import Section from "../components/ui/Section.astro";
import { projects } from "../data";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Section>
    <Container>
      <h1 class="sr-only">Projects</h1>
      <ul class="grid grid-cols-1 gap-5">
        {
          projects.map((project) => (
            <li>
              <ProjectCard project={project} />
            </li>
          ))
        }
      </ul>
    </Container>
  </Section>
</BaseLayout>
