---
const { class: className } = Astro.props;
---

<a
  href="/"
  class:list={[
    "text-2xl md:text-3xl font-bold mono text-chart-2 text-shadow-xs",
    className,
  ]}
  aria-label="AG"
>
  {`<AG/>`}
</a>

<style>
  a.inherit {
    font-size: inherit;
  }
</style>
